### Syntax and Semantics

In [3]:
## single line comment
'''MultiLine comment''' ## triple quotes even though used for multiline comments does not work in jupyter notebooks

'MultiLine comment'

In [ ]:
## basic syntax rules in python

## case sensitivity - python is case sensitive

name = "Navaneeth"
Name = "John"
## both variables are 
print(name)
print(Name)

Navaneeth
John

In [5]:
## indentation
## python uses indentation to identify block of code

age = 32
if age > 30:
    print("Age is grater than 30")

Age is grater than 30

In [7]:
## Line continuation
## to continue the line i can use backslash
total = 1 + 2 + 3 + 4 + 5 + 6 + 7+\
8  + 9  +10
print(total)

55

In [8]:
## multiple statements on a single line
## using colon ;  i can write multiple statements in single line
x = 5 ; y = 10 ; z = x + y
print(z)

15

In [ ]:
## understanding semantics

## variable assignment

age = 32 # age is an integer
name = "Navaneeth" # name is a string

# type inferencing - it inferences the type of a variable in runtime
print(type(age)) # check type of a variable

<class 'int'>

In [10]:
var = 10
print(type(var))

<class 'int'>

In [11]:
var = "Navaneeth"
print(type(var))

<class 'str'>

In [ ]:
age = 32
if age > 30:
print(age) # indentation error

IndentationError: expected an indented block after 'if' statement on line 2 (2949962196.py, line 3)

In [14]:
a = b # not defined variable

NameError: name 'b' is not defined

In [15]:
## indentation example
if True:
    print("This will print")
    if False:
        print("This wont print")
    print("Inside main if")
print("Outside if block")

This will print
Inside main if
Outside if block

### Variables

In [16]:
## in python varaibles are created when we assign a value to them

In [17]:
a = 100

In [ ]:
## declaring and assigning variables

age = 32
height  = 6.1
name = "Navaneeth"
is_student = True # boolean type

## printing the varables

print("Age : ", age )
print("Height : ", height)
print("Name : ", name)

Age :  32
Height :  6.1
Name :  Navaneeth

In [19]:
## naming covention
## variable names should be descriptive
## they must always start with a letter or an _ and in btw contain letters _'s and numbers
## variable names are case sensitive

In [20]:
# valid variable name
first_name = "Navaneeth"
last_name = "Naik"

In [21]:
## invalid variable names
## 2age
## first-name

In [24]:
## variable types
## python is dynamically typed - type is decided at run time

age = 25
print(type(age))

height = 6.56
print(type(height))

name = "Navaneeth"
print(type(name))

is_student = True
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [26]:
## type checking and conversion
age = 25
print(type(age))

## type conversion
age_str = str(age)
print(age_str, type(age_str))

<class 'int'>
25 <class 'str'>

In [27]:
age = '25'

age_int = int(age)

print(age_int, type(age_int))

25 <class 'int'>

In [29]:
name = "Navaneeth"

name_int = int(name) # not possible

ValueError: invalid literal for int() with base 10: 'Navaneeth'

In [31]:
height = 5.11
print(type(height))

height_int = int(height)

print(height_int)

<class 'float'>
5

In [33]:
## dynamic typing

var = 10
print(var, type(var))

## python allows a type of a variable to change as the program executes

var = "Hello"
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>

In [39]:
## input - taking user input
age = input("Enter the value of age  : ")
print(age, type(age))

45.6823627 <class 'str'>

### Data Types

In [41]:
## integers
age = 35
print(type(age))

<class 'int'>

In [42]:
## floating point datatype
height  = 5.11
print(type(height))

<class 'float'>

In [43]:
## string datatype
name =" Navaneeth"
print(type(name))

<class 'str'>

In [44]:
## boolean datatype
is_student = True
print(type(is_student))

<class 'bool'>

In [46]:
is_true = bool()
print(is_true) # by default its false

False

In [47]:
a = 10
b = 10

print(type(a==b))

<class 'bool'>

In [48]:
## common errors
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "Hello" + str(5)
print(result)

### Operators

In [ ]:
## Arithmetic Operators
a = 10 ; b = 2

print(a + b) ## addition
print(a - b) ## subtraction
print(a * b) ## multiplication
print(a / b) ## division
print(a // b) ## floor division , it rounds down the value
print(a % b) ## remainder

print(a ** b) ## exponential operation

12
8
20
5.0
5
0
100

In [ ]:
## comparison operators

x = 10 ; y = 10
print(x == y) ## double equals to, valuea re getitng compared
z = '10' ## but also takes into account the data type during comparison
print(x == z)


print(x!=y) ## not equal to

True
False
False

In [66]:
a =  45 ; b = 35

print(a > b) # greater than
print( a < b) # less than

print( a >= b) # greater than or equal to
print(a <= b) # less than oor equal to

True
False
True
False

In [ ]:
## logical operators
## and , not , or
x = True ; y = True
print(x and y) # and operation

True

In [ ]:
x = True ; y = False
print(x and y) # and will be truw if all the expressions are true

False

In [ ]:
x = True ; y = False
print(x or y) # or will be flase only if all the expressions as false

True

In [71]:
x = True
print(not x) ## to get inverse of any boolena variable

False

False